body{
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    justify-content: center;
}
h1{
    font-family: Exo;
    font-size: 60px;
    font-weight: bold;
}

.hero{
    display: flex;
    background-image: url(images/bg/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

span{
    color: #f1227b;
}
.hero-txt{
    align-content: center;
    width: 50%;
    padding: 5% 2% 2% 10%;
}
.hero-img{
    width: 50%;    
    padding: 2% 10% 2% 2%;

}
.left-border{
    font-family: 'Exo 2';
    padding-left: 5px;
    border-left: 5px solid red;
}
.hero-p{
    padding-bottom: 30px;
    text-align: left
    width: 50%;
}
.hire-me-btn{
    margin-top: 50px;
    font-weight: bold;
    color: papayawhip;
    text-decoration: none;
    background-color: #f1227b;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
h3{
    font-size: 16px;
    padding-top: 20px;
}

.my-target{
    width: 100%;
    text-align: center;
    padding: 2% 0% 0% 0%;
}
.card-container{
    display: flex;
    width: 100%;
    align-items: center;
}
.card{
    width: 25%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: papayawhip;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.card-blue{
    background-color: rgb(232, 252, 255);
}
.card-red{
    background-color: rgb(255, 239, 239);
}
.card-yellow{
    background-color: rgb(255, 247, 231);
}
.card img{
    width: 50%;
}


.work-without{
    display: flex;
    
}
.work-img{
    margin: 5% 0% 5% 10%;
}

.work-txt{
    margin: 5% 10% 5% 10%;
}

.ability{
    display: flex;
}
.ablty-img{
    margin: 5% 10% 5% 0%;
}

.ablty-txt{
    margin: 5% 10% 5% 10%;
}
.omicron{
    display: flex;
}

footer{
    background-color: rgb(0, 0, 29);
    padding: 1% 0% 2% 0%;
}
.ftr{
    font-family: Exo;
    font-size: 50px;
    text-align: center;
}
footer p {
    text-align: center;
    color: white;
}
.msn{
    color: white;
}