body{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
    font-weight: bold;
}

.hero{
    display: flex;
    background-image: url(images/bg/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.first-mission{
    color: #f1227b;
}
.hero-txt{
    align-content: center;
    width: 50%;
    padding: 5% 2% 2% 10%;
}
.hero-img{
    width: 50%;    
    padding: 2% 10% 2% 2%;

}
.left-border{
    font-family: 'Exo 2';
    padding-left: 5px;
    border-left: 5px solid red;
}
p{
    text-align: left
    width: 50%;
}
.hire-me-btn{
    margin-top: 50px;
    font-weight: bold;
    color: papayawhip;
    text-decoration: none;
    background-color: #f1227b;
    padding: 10px 30px;
    border-radius: 20px;
}
h5{
    padding-top: 20px;
}